MONGODB_URL = mongodb+srv://mkadev02_db_user:DZ58Bgixi5ehgBN7@authapi0.xmkhirj.mongodb.net/AIChatbot

SMTP_HOST = smtp.gmail.com
SMTP_USER = mdkhalidalam001@gmail.com
SMTP_PASS = 

PORT = 3000

JWT_SECRET = dc3e0c2c924a28a22e6edd33a164d4a3e85dec6c9f6ba4020e73d67b0efc1a84
JWT_EXPIRES_IN = 1d
# CLIENT_URL = http://localhost:5173
CLIENT_URL = https://localhost:3000

CLOUDINARY_CLOUD_NAME = djmnjuk17
CLOUDINARY_API_KEY =  
CLOUDINARY_API_SECRET = 